<div class="user-projects">
  <h1> Selected Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/anomaly.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Anomalies and Bordisms of Non-supersymmetric Strings </h3>
    <p>In this work, we analyze global anomalies in the three known tachyon-free, non-supersymmetric string theories in ten dimensions by computing the relevant twisted string bordism groups. We show that two of these theories are free of global anomalies, while the third exhibits only limited obstructions, and we further compute lower-dimensional bordism groups that detect extended objects in these theories.</p>
    <a class="project-link" href="https://arxiv.org/pdf/2310.06895">Check it out</a>
  </div>
</div>

<div class="user-projects">
 
  <div class="images-left">
<br>
<br>
    <img alt="mountains" src="{{ "/assets/img/compact2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Dualities and the Compactifiability of Moduli Spaces </h3>
    <p> We argue that dualities in string theory impose strong constraints on the low-energy effective action, requiring the moduli space of massless fields to be compactifiable, in the sense that its volume grows no faster than that of Euclidean space. We propose that this compactifiability follows from a finiteness principle in quantum gravity, and further show that it implies the lattice of charged objects transforms in a semisimple representation of the duality group, as illustrated by numerous string theory examples. </p>
<a class="project-link" href="https://arxiv.org/pdf/2412.03640">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">

    <img alt="mountains" src="{{ "/assets/img/bh.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Probing Moduli Spaces with BH Attractors </h3>
    In a series of papers, we used black holes to probe various corners of moduli space using the attractor mechanism. We explored how UV physics can manifest at the horizon of large and small black holes, in relation to the Swampland Distance conjecture and the Species scale. We studied how: 
    <ul>
      <li> UV data stored in black hole observables </li> <a class="project-link" href="https://arxiv.org/pdf/2212.08676">Check it out</a>
       <li> Curvature corrections generate horizons for singular black holes </li> <a class="project-link" href="https://arxiv.org/pdf/2310.04488">Check it out</a>
        <li> Families of the smallest classical black holes follow UV length scales </li> <a class="project-link" href="https://arxiv.org/abs/2502.03514">Check it out</a>
</ul>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
<br>
<br>
<br>
    <img alt="mountains" src="{{ "/assets/img/bordism.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Dynamical Aspects of Cobordisms </h3>
    The Swampland cobordism conjecture predicts the existence of new defects and topology-changing transitions in quantum gravity; however, it does not specify the underlying dynamics. We investigated the dynamical mechanisms governing the topology-changing transitions implied by the cobordism conjecture. 
<ul>
      <li> On cobordism defects as singularities in EFTs </li> <a class="project-link" href="https://arxiv.org/pdf/2107.09098">Check it out</a>
       <li> On the bubble of nothing under T-duality  </li> <a class="project-link" href="https://arxiv.org/pdf/2312.09291">Check it out</a>
</ul>
  </div>
</div>


