<style>
  .user-details {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  .user-details p {
    margin: 0.4em 0;
    line-height: 1.3;
  }
  .user-details h1, .user-details h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
</style>

<div class="user-details">
  <h2>Talks</h2>
  <h2></h2>
  <p>Here is a list of talks I have given (with a link to the slides and/or the recording when they are available).</p>

  <h3>Upcoming</h3>

    <p><strong>Soon:</strong> "TBA", May. 2026<br>
<a href="https://indico.uu.se/event/1912/">Strings and Geometry 2026</a>
</p>

 <p><strong>Soon:</strong> "TBA", Jul. 2026<br>
<a href="https://stringpheno26.sciencesconf.org">String Pheno 2026</a>
</p>

 <p><strong>Soon:</strong> "TBA", Jul. 2026<br>
<a href="https://strings2026.simis.cn">Strings 2026</a>
</p>


  <h3>Conference Talks</h3>
  <p>  "Dualities and the Compactifiability of Moduli Space", Nov. 2025<br>
<a href="https://cmsa.fas.harvard.edu/event/geophys/"> Geometry meets Physics: Finiteness, Tameness and Complexity </a> (<a href="https://www.youtube.com/watch?v=zEehZRVXsGA">video</a>)</p>
    <p>"Hamiltonian Cobordism", Nov. 2025<br>
<a href="https://sites.google.com/view/the10thibs-iftworkshop/home?authuser=0">10th IBS-IFT Workshop</a>
</p>
    "Black Holes as Probes of UV Physics", Oct. 2025<br>
<a href="https://indico.ph.tum.de/event/7929/">ORIGINS Black Hole Days</a>
</p>


p>"Probing UV scales with Classical Black Holes", Sept. 2025 <br>
 <a href="https://www.physics.ntua.gr/corfu2025/st.html">Workshop on Quantum Gravity and Strings</a></p>

 <p>"Probing UV scales with Classical Black Holes", Jul. 2025<br>
      <a href="https://indico.global/event/1291/timetable/#20250708.detailed">String Phenomenology 2025</a> (<a href="https://indico.global/event/1291/contributions/130165/attachments/61176/117798/Matilda%20Delgado.pdf">slides</a>).</p>
  <p>"Dualities, Defects and Duality Defects", Jan. 2025<br>
      <a href="https://cmsa.fas.harvard.edu/event/symmetries/">Symmetries and Gravity Workshop</a></p>
  <p>"Black Hole Probes and Moduli Stabilization", June. 2024<br>
      <a href="https://indico.dfa.unipd.it/event/1051/overview">String Phenomenology 2024</a> (<a href="https://indico.dfa.unipd.it/event/1051/contributions/1482/attachments/1514/3109/6%20String%20Pheno%2024_%20Black%20Holes%20and%20Moduli%20Stabilization-1.pdf">slides</a>).</p>
  <p>"Bordisms and Anomalies of non-supersymmetric strings", June. 2024<br>
      <a href="https://indico.cern.ch/event/1354279/overview">SUSY24</a> (<a href="https://indico.cern.ch/event/1354279/contributions/5948407/attachments/2877491/5039587/Susy%2024%20Anomalies%20and%20Bordisms%20of%20Non-supersymmetric%20Strings.pdf">slides</a>).</p>
  <p>"Bordisms and Anomalies of non-supersymmetric strings", June. 2024<br>
      <a href="https://indico.cern.ch/event/1284995/">Strings 24</a> - Gong Show (<a href="https://cds.cern.ch/record/2899922">video</a>, <a href="https://indico.cern.ch/event/1284995/contributions/5975492/subcontributions/486419/attachments/2870169/5024864/DelgadoMatilda.pdf">slides</a>).</p>
  <p>"Bordisms and Anomalies of non-supersymmetric strings", May. 2024<br>
      <a href="https://indico.physik.uni-muenchen.de/event/400/overview">Swamplandia II - in Bavaria</a> (<a href="https://indico.physik.uni-muenchen.de/event/400/contributions/1634/attachments/938/1495/Delgado_1.pdf">slides</a>).</p>
  <p>"Bordisms and Anomalies of non-supersymmetric strings", Apr. 2024<br>
      <a href="https://www.physics.umass.edu/acfi/seminars-and-workshops/surveying-the-landscape">Surveying the Landscape</a>, UMass, USA (<a href="https://www.physics.umass.edu/acfi/sites/acfi/files/slides/long_anomalies-1.pdf">slides</a>).</p>
  <p>"The Bubble of Nothing under T-duality", Mar. 2024<br>
      <a href="https://wwwth.mpp.mpg.de/members/blumenha/ringberg2024/Geometry_Strings_Swamp.html">Geometry, Strings and the Swampland</a> (<a href="https://wwwth.mpp.mpg.de/members/blumenha/ringberg2024/talks/delgado.pdf">slides</a>).</p>
  <p>"Emergent Species Scale Horizons for Small Black Holes", Oct. 2023<br>
      <a href="https://sites.google.com/view/string-pheno-seminars/">Seminar Series on String Phenomenology</a>, online (<a href="https://youtu.be/eq7sG-CSf9M">video</a>, <a href="https://drive.google.com/file/d/1-OIRmjYxlttF_FFbgNFBEnMhEwnPv_YO/view?usp=drive_link">slides</a>).</p>
  <p>"Global Anomaly Cancellation in Non-Supersymmetric Strings", Jul. 2023<br>
      <a href="https://indico.cern.ch/event/1270020/">String Phenomenology 2023</a> (<a href="https://indico.cern.ch/event/1270020/contributions/5473095/attachments/2684927/4658149/12%20Delgado.pdf">slides</a>).</p>
  <p>"Black Holes as Probes of Moduli Space Geometry", Jan. 2023<br>
      <a href="https://sites.google.com/view/string-pheno-seminars/">Seminar Series on String Phenomenology</a>, online (<a href="https://youtu.be/ryPDGHGnsHQ">video</a>, <a href="https://drive.google.com/file/d/1AcmTQyKC_nnEkbTVEPSlBfs2n52RPhly/view?usp=share_link">slides</a>).</p>
  <p>"Dynamical Cobordism via tachyon condensation in supercritical strings", Jul. 2022<br>
      <a href="http://www.maths.liv.ac.uk/stringpheno2022/index.html">String Phenomenology 2022</a> (<a href="http://www.maths.liv.ac.uk/stringpheno2022/FilesUpload/Tuesday/Session%203B/Matilda_Delgado.pdf">slides</a>).</p>
  <p>"Dynamical Cobordism and Swampland Distance Conjectures", Nov. 2021<br>
      <a href="https://sites.google.com/view/string-pheno-seminars/">Seminar Series on String Phenomenology</a>, online (<a href="https://www.youtube.com/watch?v=PvsuwPjxsx8&pp=ygUPbWF0aWxkYSBkZWxnYWRv">video</a>, <a href="https://drive.google.com/file/d/1m0X68Vs-y1aAfl_u3PBkn_MvaW5vgF7W/view?usp=sharing">slides</a>).</p>

  <h3>Invited Seminars</h3>
    <p>"Finiteness and the Compactifiability of Moduli Space", Nov. 2025<br>
      QG Seminar, <a href="https://groups.oist.jp/qgu/event/qg-seminar-zoom-dualities-and-compactifiability-moduli-space">Okinawa Insitute of Science and Technology</a>, Japan.</p>
  <p>"Hamiltonian Cobordism", Nov. 2025<br>
      String Seminar Series, <a href="https://semparis.lpthe.jussieu.fr/public/list.pl?type=seminars&key=16125&language=1">Insitut Henri Poincare</a>, France.</p>
  <p>"Dualities and the Compactifiability of Moduli Space", May. 2025<br>
      String Seminar Series, <a href="https://www.strings.to.infn.it/people/">University of Turin</a>, Italy.</p>
  <p>"Dualities and the Compactifiability of Moduli Space", Apr. 2025<br>
      String Seminar Series, <a href="https://www.ipht.fr">IPhT, Saclay</a>, France.</p>
  <p>"Dualities and the Compactifiability of Moduli Space", Apr. 2025<br>
      String Seminar Series, <a href="https://iop.uva.nl/content/research-groups/strings/index.html">University of Amsterdam</a>, Netherlands.</p>
  <p>"Classical Black Holes as probes of UV Scales", Mar. 2025<br>
      Swampland Seminar, <a href="https://hetg.physics.harvard.edu/">Harvard</a>, USA.</p>
  <p>"Dualities and the Compactifiability of Moduli Space", Nov. 2024<br>
      String Seminar, <a href="https://theory-hamburg.desy.de/index_eng.html">DESY/Uni Hamburg</a>, Germany.</p>
  <p>"Small Black Holes in Quantum Gravity", Mar. 2024<br>
      Seminar, <a href="https://theory.cern/">CERN</a>, Switzerland.</p>
  <p>"Bordisms and EFTs of Quantum Gravity", Jan. 2024<br>
      Group Seminar, <a href="https://lapth.cnrs.fr/">LAPTh</a>, France.</p>
  <p>"Small Black Holes in Quantum Gravity", Dec. 2023<br>
      Group Seminar, <a href="https://www.sns.it/en/theoretical-physics-fundamental-interactions">Scuola Normale Superiore</a>, Italy.</p>
  <p>"Small Black Holes in Quantum Gravity", Nov. 2023<br>
      Séminaire TIF &amp; PACT, <a href="https://coulomb.umontpellier.fr/Seminaires-TIF-PACT">Laboratoire Charles Coulomb Montpellier</a>, France.</p>
  <p>"Bordisms and Quantum Gravity", Aug. 2023<br>
      Math and HEP Seminars <a href="https://www.physicslatam.com/seminar">ICTP- Physics Latam</a>, online (<a href="https://www.youtube.com/watch?v=mxuVGVAaUng">video</a>, <a href="https://drive.google.com/file/d/1zCjMLPT8UnH8yQ349-kUDPCVbzXakmV3/view">slides</a>).</p>
  <p>"Probing faraway regions of moduli space", Jul. 2023<br>
      Fields and String Seminars, <a href="https://www.theorie.physik.uni-muenchen.de/MATH/seminars/strings_and_fields/index.html">LMU München</a>, Germany.</p>
  <p>"Probing faraway regions of moduli space", May. 2023<br>
      Joint Belgian HEP Seminars, <a href="https://www.kuleuven.be/english/kuleuven/index.html">KUL Leuven</a>, Belgium.</p>
  <p>"Dynamical Cobordism and the Swampland", May. 2022<br>
      Swampland Lunch Meeting, <a href="https://hetg.physics.harvard.edu/">Harvard</a>, USA.</p>

  <h3>Lectures</h3>
  <p><em>Guest Lecturer</em> at <a href="https://indico.desy.de/event/48174/">KMBP School 2025</a>, Humboldt University, Berlin, 2025<br>
      Subject: Swampland Program.</p>
  <p><em>Guest Lecturer</em> at <a href="https://sites.google.com/view/modaveschoolxxi/home">Modave Summer School on Mathematical Physics</a>, Les Cent Fontaines center, Modave, 2025<br>
      Subject: Dynamical Implications of the Cobordism Conjecture.</p>
</div>

